@page
@model ElGrodo.App.Frontend.Pages.Error404Model
@{
}
<div class="d-flex justify-content-center col">
    <div class="col text-center text-secondary">
        <h1>Oops!!!!</h1>
    <h1>Lo que buscas no existe</h1>
    </div>    
</div>
