# Directorios ignorados
ElGordo.App/ElGordo.App.Frontend/bin/
ElGordo.App/ElGordo.App.Frontend/obj/
ElGordo.App/ElGordo.App.Frontend/.vscode/
ElGordo.App/ElGordo.App.Consola/.vscode/
ElGordo.App/ElGordo.App.Consola/bin/
ElGordo.App/ElGordo.App.Consola/obj/
ElGordo.App/ElGordo.App.Dominio/.vscode/
ElGordo.App/ElGordo.App.Dominio/bin/
ElGordo.App/ElGordo.App.Dominio/obj/
ElGordo.App/ElGordo.App.Persistencia/.vscode/
ElGordo.App/ElGordo.App.Persistencia/bin/
ElGordo.App/ElGordo.App.Persistencia/obj/
