@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="col-4 border p-3 shadow">
        <h5 class="text-primary">Producto</h5>
        <img src="~/img/ensalada.jpg" alt="" class="col-12 p-0 rounded-circle">
        <p class="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, maxime.</p>
        <p>$ 5000</p>
        <input type="text" class="form-control col-6">
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary">Comprar</button>
            <button class="btn btn-primary">Comprar</button>
        </div>
    </div>
</div>
