@page
@model ElGrodo.App.Frontend.Pages.NosotrosModel
@{
    ViewData["Title"] = "Nosotros";
}

<div class="text-center">
    <h5 class="display-5 my-2">El Gordo</h5>
    <img src="~/img/logo.png" alt="Logo El Gordo" class="my-2" style="max-width: 150px;">
    <div class="d-flex justify-content-center">
        <div class="col-md-6 text-justify">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dignissimos fuga ullam in quidem
                soluta
                consequuntur, facilis aspernatur doloribus molestias quis animi reprehenderit, quibusdam iusto
                excepturi.
                Consequatur voluptates quis omnis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quam, minus saepe ratione eum suscipit.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab praesentium animi minus, ducimus eaque quis
                rerum
                natus aut officiis vitae nulla sed dolores eius nisi! Ipsum error architecto praesentium? Impedit quam
                excepturi sunt culpa officia dignissimos velit facere cumque expedita!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias atque, esse aspernatur amet culpa minus
                illum ut tempore molestias, voluptatum dolores! Nesciunt voluptas nemo laborum animi, sequi eligendi
                debitis sit.</p>
        </div>
    </div>
</div>