@page
@model ElGrodo.App.Frontend.Pages.PoliticasModel
@{
    ViewData["Title"] = "Políticas";
}

<div class="text-center">
    <h1 class="display-4">Politicas</h1>
    <div class="d-flex justify-content-center">
        <div class="col-md-6 text-justify">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic numquam maxime explicabo vel inventore quo
                nulla at temporibus. Ad aspernatur sint at? Voluptatibus, iure praesentium laboriosam repellendus
                expedita facilis accusamus molestiae architecto adipisci unde voluptate hic delectus doloribus maxime
                sapiente mollitia culpa aliquam libero impedit eveniet aut laudantium distinctio totam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab praesentium animi minus, ducimus eaque quis
                rerum
                natus aut officiis vitae nulla sed dolores eius nisi! Ipsum error architecto praesentium? Impedit quam
                excepturi sunt culpa officia dignissimos velit facere cumque expedita!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias atque, esse aspernatur amet culpa minus
                illum ut tempore molestias, voluptatum dolores! Nesciunt voluptas nemo laborum animi, sequi eligendi
                debitis sit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic numquam maxime explicabo vel inventore quo
                nulla at temporibus. Ad aspernatur sint at? Voluptatibus, iure praesentium laboriosam repellendus
                expedita facilis accusamus molestiae architecto adipisci unde voluptate hic delectus doloribus maxime
                sapiente mollitia culpa aliquam libero impedit eveniet aut laudantium distinctio totam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab praesentium animi minus, ducimus eaque quis
                rerum
                natus aut officiis vitae nulla sed dolores eius nisi! Ipsum error architecto praesentium? Impedit quam
                excepturi sunt culpa officia dignissimos velit facere cumque expedita!</p>
        </div>
    </div>
</div>
